@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: "Quicksand";
    /* font-family: Calibri; */
    background-color: #008299;
}
.title{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
}
div.stage{
    display: flex;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    width: 20%;
    min-width: 18%;
    max-width: 24%;
    max-height: 500px;
    text-align: center;
    flex-direction: column;
    justify-items: center;
}
h2{
   
    margin: 0;
    border-radius: inherit;
    border-bottom: 1px solid black;
}
.to-do h2{
    background: #f48897;
}
.to-do .card:hover{
    box-shadow: 7px 7px 7px #f4889780;
}
.in-progress h2{
    background: #f4e688;
}
.in-progress .card:hover{
    box-shadow: 7px 7px 7px #f4e688f0;
}
.review h2{
    background: #88f48e;
}
.review .card:hover{
    box-shadow: 7px 7px 7px #88f48e80;
}
.completed h2{
    background: #88e2f4;
}
.completed .card:hover{
    box-shadow: 7px 7px 7px #88e2f480;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.new-card-button{
    margin: 10px;
    align-self: center;
    width: 95%;
}
.button{
    margin: 1px;
    width: 70px;
    height: 25px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    justify-items: center;
    overflow-y: auto;
    height: 80%;
    max-height: 96%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    margin: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    width: 95%;
    text-align: center;   
    
}
.cards-text{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}
.title-input{
    text-align: center;
    border: none; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 7px;
}
textarea{
    resize: vertical;
    min-width: 95%;
}